<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.nalugala.ar_volume_scanner">

  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-feature android:name="android.hardware.camera.ar" android:required="true"/>
  <uses-feature android:name="android.hardware.camera" android:required="true"/>

  <meta-data
      android:name="com.google.ar.core"
      android:value="required"/>

</manifest>
